DB_HOST=edudict-db
DB_PORT=5432
DB_USER=edudict
DB_PASS=edudict
DB_NAME=edudict

DB_HOST_PORT_DEV=5435
BACK_HOST_PORT_DEV=3011
FRONT_HOST_PORT_DEV=8081

DB_HOST_PORT=5432
BACK_HOST_PORT=3010
FRONT_HOST_PORT=8080

DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}

STUDENT_APPROVAL_API_URL=http://ml-api:8000
STUDENT_APPROVAL_TIMEOUT_IN_MS=10000
