DB_HOST=stocky-db
DB_PORT=5432
DB_USER=stocky
DB_PASS=stocky
DB_NAME=stocky

DB_HOST_PORT=5432
DB_HOST_PORT_DEV=5435

BACK_HOST_PORT=3010
BACK_HOST_PORT_DEV=3011

FRONT_HOST_PORT=8080
FRONT_HOST_PORT_DEV=8081

DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
